*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5a3300f2;
    background: linear-gradient(#4d2c00f2 90%, #5a3300f2);
    background: linear-gradient(#2196f3f7 60%, #2196f38f);
    color: white;
    height: 80px;
    width: 100vw;
    font-size: 2rem;
}

main{
    height: calc(100vh - 40px);
    width: 100vw;
    /* padding: 50px 0; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    background: linear-gradient(#5a3300f2, #D2AB6F);
    background: linear-gradient(#2196f38f, #fffffff0);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
}

.menu > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    width: 30%;
}

.menuBtn {
    padding: 10px;
    color: #f3f8ff;
    background: #2c99f3;
    border-radius: 50px;
    font-size: x-large;
    font-weight: 700;
    border: hidden;
    width: 171px;
    cursor: pointer;
}

#playerName {
    padding: 10px;
    border-radius: 50px;
    font-size: x-large;
    border: hidden;
    text-align: center;
    width: 200px;
}

#playerName::placeholder {
    color: #3d3a3a96;
}

.menuBtn:hover {
    background: #298bdc;
}

.gameSP {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.choices {
    margin: 0 auto;
    padding: 10px 0;
    width: 800px;
    font-size: x-large;
    color: white;
    text-align: center;
    visibility: hidden;
}

.choices > h3 {
    margin-top: 0;
    margin-bottom: 12px;
    text-decoration: underline;
}

.choices > ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.choices > ul > li {
    list-style-type: none;
    cursor: pointer;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    border: 5px solid;
    /* border-image-slice: 1;
    border-image-source: linear-gradient(to right, #e9cba2f2, #51340df2, #321c03);
    width: fit-content; */
    margin: 0 auto;
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    align-items: center;
    justify-content: end;
    background: #D2AB6F;
    background: #a8a8a8;
}

.square:nth-child(16n+2), .square:nth-child(16n+4),
.square:nth-child(16n+6), .square:nth-child(16n+8), .square:nth-child(16n+9),
.square:nth-child(16n+11), .square:nth-child(16n+13), .square:nth-child(16n+15){
  background: #5a3300f2;
  background: #565656;
  color: white;
}

.square > small {
    opacity: 55%;
    font-size: 11px;
}

.square > img {
    object-fit: contain;
    height: calc(100% - 11px);
    width: 100%;
    cursor: pointer;
}

.checkmate > .square > img {
    cursor: auto;
} 

.info {
    height: 21vh;
    background: #808080b3;
    background: linear-gradient(#e1effd 20%, #2196f3f7);
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info > p {
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.playerVictory {
    visibility: hidden;
    width: 36vw;
}
